{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Weather API</title>
</head>
<body>
<div class="container">
    <h1>Weather Information</h1>

    <!-- Current weather for Chisinau -->
    {% if weather_data1 %}
    <div class="weather-container">
        <h2>Current Weather in {{ weather_data1.city }}</h2>
        <h3>Temperature: {{ weather_data1.temperature }}°C</h3>
        <p>Description: {{ weather_data1.description }}</p>
        <img src="http://openweathermap.org/img/w/{{ weather_data1.icon }}.png" alt="{{ weather_data1.description }}">
    </div>
    {% endif %}

    <!--The buttons -->
    {% if current_view == 'current-weather' %}
    <form method="get" action="{% url 'search-weather' %}">
        <button type="submit">Search Weather</button>
    </form>
    {% elif current_view == 'search-weather' %}
    <form method="get" action="{% url 'current-weather' %}">
        <button type="submit">Current Weather</button>
    </form>
    {% endif %}

    <!-- Registration button -->
    <div class="auth-box">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>

    <!-- Login button -->
    <div class="auth-box">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>

    <!-- Search input -->
    <form method="get" action="{% url 'search-weather' %}">
        <label for="city">Enter City Name:</label>
        <input type="text" id="city" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button>
    </form>

    <!-- Show the data for searched city -->
    {% if weather_data2 %}
    <div class="weather-container">
        <h2>Weather in {{ weather_data2.city }}</h2>
        <h3>Temperature: {{ weather_data2.temperature }}°C</h3>
        <p>Description: {{ weather_data2.description }}</p>
        <img src="http://openweathermap.org/img/w/{{ weather_data2.icon }}.png" alt="{{ weather_data2.description }}">
    </div>
    {% endif %}

    <!-- Show 7-Day forecast -->
    {% if daily_forecasts %}
        <h2>7-Day Forecast</h2>
        <div class="forecast-container">
            {% for daily_forecast in daily_forecasts %}
                <div class="forecast">
                    <h3>{{ daily_forecast.day }}</h3>
                    <p>Min Temperature: {{ daily_forecast.min_temp }}°C</p>
                    <p>Max Temperature: {{ daily_forecast.max_temp }}°C</p>
                    <p>Description: {{ daily_forecast.description }}</p>
                    <img src="http://openweathermap.org/img/w/{{ daily_forecast.icon }}.png" alt="{{ daily_forecast.description }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>
