{% extends 'base.html' %}

{% block title %}Login - Weather API{% endblock %}
{% block heading %}Login{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}
