{% extends 'base.html' %}

{% block title %}Register - Weather API{% endblock %}
{% block heading %}Register{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
