{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Weather API{% endblock %}</title>
</head>
<body>
<div class="auth-container">
    <h1>{% block heading %}Authentication{% endblock %}</h1>
    <div class="auth-form">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
